.mid-body {
  margin-top: 3%;
  margin-bottom: 3%;
  height: 50vh;
}

.careers-1 {
  width: 75%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.position-role {
  width: fit-content;
  padding: 10px;
}

.apply-btn {
  border: 1px solid #383a60;
  width: fit-content;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  color: #f1f1f1;
  background: #383a60;
  height: 30px;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 35px;
  transition: all 0.5s ease;
}

.apply-btn:hover {
  background: #383a90;
}
.position-role {
  color: #505050;
  margin-left: 35px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .mid-body {
    height: auto;
  }

  .apply-btn {
    font-size: 12px;
  }
  .position-role {
    font-size: 15px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .mid-body {
    height: auto;
  }
  .apply-btn {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .mid-body {
    height: auto;
  }
  .apply-btn {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mid-body {
    height: auto;
  }
  .apply-btn {
    font-size: 16px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .mid-body {
    height: auto;
  }
  .apply-btn {
    font-size: 16px;
  }
}

@media (min-width: 1281px) {
  .mid-body {
    height: auto;
  }
  .apply-btn {
    font-size: 16px;
  }
}
