.services-elements {
  margin-top: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.services-section {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 5px;
}

.svg-div {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.desc-div {
  width: 900px;
  margin: 10px;
  padding: 5px;
}

#web-development {
  background: url("../assets/servicessvg/webdevelopment.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#soft-development {
  background: url("../assets/servicessvg/softwaredev.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#graphics-design {
  background: url("../assets/servicessvg/graphics.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#mobile-development {
  background: url("../assets/servicessvg/mobileapp.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#digital-marketing {
  background: url("../assets/servicessvg/marketing.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#network-design {
  background: url("../assets/servicessvg/network.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.description-div {
  padding: 15px;
  text-align: justify;
}

.descriptionall {
  line-height: 25px;
  font-size: 18px;
  color: #505050;
}

.title-desc{
    color: #505050;
}

.line-segment{
    border: 2px solid #383a60;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.readmore-link{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.services-title{
    padding: 15px;
    border-bottom: 5px solid #383a60;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .services-section{
    margin-left: auto;
    margin-right: auto;
  }
  .svg-div{
    width: 250%;
  }
  .desc-div{
    width: auto;
  }
}