.background-sec {
  margin-top: 72px;
  padding: 15px;
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  background-image: linear-gradient(
      to right,
      rgba(56, 58, 144, 0.7),
      rgba(56, 58, 96, 0.95)
    ),
    url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}
/* ------------------------------------------------------------------------------------------ */

.navbar-mid-components {
  height: 75vh;
  display: flex;
}

.navbar-section-bottom-container {
  display: flex;
  padding: 5px;
}
.nav-links-container {
  margin-left: auto;
  width: fit-content;
  padding: 13px;
  background: rgba(255, 255, 255, 0.45);
}

.navbarlinks {
  padding: 10px;
  margin: 13px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.navbarlinks:hover {
  color: #fff;
}
.caption-heading {
  padding: 15px;
  width: fit-content;
  font-weight: 900;
  font-size: 25px;
  text-align: left;
  margin: 0;
}
.pitchlab {
  font-size: 4em;
  text-align: left;
  padding: 20px;
  line-height: 20px;
  margin: 15 0;
}
.heading-color {
  color: goldenrod;
  text-decoration: underline;
}
.paragraph {
  line-height: 35px;
  color: #f1f1f1;
}
#mid-1 {
  width: 50%;
  padding: 35px 0 35px 85px;
  transition: all 0.5s ease-in;
}
.mid-2 {
  width: 50%;
  
}

.kerasvg{
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  /* background: url('../assets/rotation.svg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

}
.get-started {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.45);
  line-height: 75px;
  transition: all 0.5s ease;
}
.get-started:hover {
  color: #fff;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(56, 58, 96, 0.95)
  );
  cursor: pointer;
  transform: scale(2);
}

.kerasvg{
  animation: Rotation 60s infinite;
}

@keyframes Rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.trial{
  height: 100vh;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-width: 600px){
  /* some CSS here */
  .background-sec{
    width: 100%;
    height: 55vh;
    margin-top: 3em;
  }
  .navbar-mid-components {
    height: 60vh;
    display: flex;
    border: 1px solid red;
  }
  .navbar-section-bottom-container{
    width: 500px;
    margin-left: 5%;
  }
  .nav-links-container{
    margin-top: -5%;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-mid-components{
    width: 40%;
    border: 5px solid black;
    display: inline;
  }
  .pitchlab{
    font-size: 2em;
    padding: 5px;
    margin-left: -18%;
    margin-top: -15%;
  }
  .caption-heading{
    font-size: 19px;
    margin-left: -22%;
    width: 500px;
  }
  .caption-heading h1{
    font-size: 20px;
    width: 80%;
    display: flex;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .kerasvg{
    display: none;
  }
}
@media screen and (max-width:320px){
  .background-sec{
    width: 100%;
  }
  .navbar-mid-components{
    border: 1px solid red;
  }
  .navbar-section-bottom-container{
    border: 1px solid red;
  }
  .nav-links-container{
    margin-left: 3%;
  }
  .caption-heading{
    width: 200px;
    font-size: 12px;
    text-align:left;
    border: 1px solid red;
  }
}