.logos-1 {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  margin: 20px;
  background: url("../assets/navbarlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.logos-2 {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  margin: 20px;
  background: url("../assets/navbarlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.logos-3 {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  margin: 20px;
  background: url("../assets/navbarlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.logos-4 {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  margin: 20px;
  background: url("../assets/navbarlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.logos-5 {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  margin: 20px;
  background: url("../assets/navbarlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.logos-6 {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  margin: 20px;
  background: url("../assets/navbarlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.clients-main-container {
  background: #f3f3f3;
  padding: 55px;
  margin: 7px 0;
}

.logo-section {
  display: flex;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.link-pic {
  text-decoration: none;
  color: #505050;
}

@media (min-width: 1281px) {
  .logos-1 {
    width: 100px;
    height: 100px;
  }

  .logos-2 {
    width: 100px;
    height: 100px;
  }

  .logos-3 {
    width: 100px;
    height: 100px;
  }
  .logos-4 {
    width: 100px;
    height: 100px;
  }
  .logos-5 {
    width: 100px;
    height: 100px;
  }
  .logos-6 {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .logos-1 {
    width: 100px;
    height: 100px;
  }

  .logos-2 {
    width: 100px;
    height: 100px;
  }

  .logos-3 {
    width: 100px;
    height: 100px;
  }
  .logos-4 {
    width: 100px;
    height: 100px;
  }
  .logos-5 {
    width: 100px;
    height: 100px;
  }
  .logos-6 {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logos-1 {
    width: 100px;
    height: 100px;
  }

  .logos-2 {
    width: 100px;
    height: 100px;
  }

  .logos-3 {
    width: 100px;
    height: 100px;
  }
  .logos-4 {
    width: 100px;
    height: 100px;
  }
  .logos-5 {
    width: 100px;
    height: 100px;
  }
  .logos-6 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .logos-1 {
    width: 100px;
    height: 100px;
  }

  .logos-2 {
    width: 100px;
    height: 100px;
  }

  .logos-3 {
    width: 100px;
    height: 100px;
  }
  .logos-4 {
    width: 100px;
    height: 100px;
  }
  .logos-5 {
    width: 100px;
    height: 100px;
  }
  .logos-6 {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .logo-section {
    display: grid;
  }
  .logos-1 {
    width: 120px;
    height: 120px;
  }

  .logos-2 {
    width: 120px;
    height: 120px;
  }

  .logos-3 {
    width: 120px;
    height: 120px;
  }

  .logos-4 {
    display: none;
  }

  .logos-5 {
    display: none;
  }

  .logos-6 {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .logo-section {
    display: grid;
  }
  .logos-1 {
    width: 120px;
    height: 120px;
  }

  .logos-2 {
    width: 120px;
    height: 120px;
  }

  .logos-3 {
    display: none;
  }
  .logos-4 {
    display: none;
  }
  .logos-5 {
    display: none;
  }
  .logos-6 {
    display: none;
  }
}
