.topbar-main-container {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  justify-content: space-around;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  top: 0;
  width: 100%;
  background: #fff;
}

.logo {
  height: 60px;
  width: 60px;
  background: url("../assets/navbarlogo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.social-icons {
  margin-top: auto;
  padding: 5px;
}

.icons-social-nav {
  font-size: 25px;
  margin: 10px;
  text-decoration: none;
  color: #505050;
  transition: all 0.5s ease;
}
.icons-social-nav:hover {
  color: #000;
  cursor: pointer;
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .topbar-main-container {
    justify-content: space-between;
    position: relative;
    border: 1px solid red;
  }
  .logo {
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
  .social-icons {
    margin-top: -12px;
    margin-right: 10px;
  }
} */

/*480 px responsive*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .topbar-main-container {
    justify-content: space-between;
    position: relative;
    /* border: 1px solid red; */
  }
  .logo {
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
  .social-icons {
    margin-top: -12px;
    margin-right: 10px;
  }
}

/* 320 px responsive*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .topbar-main-container {
    justify-content: space-between;
    position: relative;
  }
  .logo {
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
  .social-icons {
    margin-top: -12px;
    margin-right: 10px;
  }
}
